* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px auto;
  border: 2px solid;
  border-radius: 10px;
}

.form-name {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

input {
  margin: 0.3rem;
  padding: 0.5rem;
  border: 2px solid purple;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.common-btn-style {
  margin: 0.3rem;
  padding: 0.5rem;
  border: 2px solid purple;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

#submitBtn,
#editBtn,
#closeBtn,
#deleteAllBtn,
#deletePerson,
#editPerson {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
  border: 2px solid purple;
  background-color: rgb(215, 19, 215);
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  width: 25%;
  cursor: pointer;
}

.error {
  color: red;
}

#pesonal-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

#pesonal-table th,
#pesonal-table td {
  padding: 8px;
  border: 2px solid purple;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

#pesonal-table th {
  background-color: rgb(215, 19, 215);
  color: white;
}

#pesonal-table td {
  background-color: #f5f5f5;
}

#pesonal-table tr:hover {
  background-color: #f0f0f0;
}

#deleteAllBtn {
  display: none;
}

#deletePerson {
  display: none;
}
#editPerson {
  display: none;
}

.modalWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(132, 197, 255, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 1rem;
  background-color: white;
  border: 2px solid purple;
  border-radius: 3px;
}

.toggleModal {
  display: none;
}
.hide {
  display: none;
}

#banner {
  background-color: #f44336;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.sort-icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.sort-up {
  display: none;
}

.sort-down {
  display: inline-block;
}

.sort-btn.asc .sort-up {
  display: inline-block;
}

.sort-btn.asc .sort-down {
  display: none;
}
